@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text-m-semibold: "Public Sans";
  --font-inter: Inter;

  /* font sizes */
  --text-m-semibold-size: 14px;
  --text-s-medium-size: 12px;
  --text-l-semibold-size: 16px;
  --display-m-semibold-size: 24px;
  --font-size-3xs: 10px;

  /* Colors */
  --neutral-gray-gray-25: #f9f9fc;
  --primary-primary-50: #f4ecfb;
  --primary-primary-500: #883dcf;
  --neutral-white: #fff;
  --neutral-gray-gray-500: #667085;
  --neutral-gray-gray-100: #e0e2e7;
  --secondary-orange-orange-500: #f86624;
  --neutral-black-black-300: #777980;
  --neutral-black-black-500: #1d1f2c;
  --secondary-orange-orange-50: #fff0ea;
  --secondary-red-red-500: #eb3d4d;
  --secondary-red-red-50: #feecee;
  --secondary-green-green-500: #22caad;
  --secondary-green-green-600: #1a9882;
  --secondary-green-green-50: #e9faf7;
  --neutral-gray-gray-50: #f0f1f3;
  --neutral-black-black-400: #4a4c56;
  --secondary-cyan-cyan-500: #2bb2fe;
  --neutral-gray-gray-400: #858d9d;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-7xs: 6px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-37xl: 56px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-9xs: 4px;

  /* Effects */
  --soft-shadow: 0px 4px 30px rgba(46, 45, 116, 0.05);
}
